// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$box-shadow: 0px 4px 12px #D3DDE2;
$box-shadow-top: 0px -4px 12px #D3DDE2;
