// Specific CSS for your home-page
.bluecircle {
  height: 75vh;
  width: 100%;
  background-color: #0087D3;
  border-radius: 0 0 390px 0;
  position: relative;
  h1 {
    color: white;
    font-size: 45px;
    font-weight: medium;
    padding: 20px;
    text-align: center;
  }
  p {
    color: white;
    font-size: 18px;
    font-weight: medium;
    padding: 30px;
  }
}

#pages-home .container {
    padding: 0;
}

.photoblue {
  background: url('https://res.cloudinary.com/ds0cha29d/image/upload/v1598883520/Pladujoor/iphonepladujoor_syummt.png');
  background-size: cover;
  width: 240px;
  height: 240px;
  margin: auto;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  img {
    width: 85px;
    position: absolute;
    right: -25px;
    top: 10px;
  }
}

.stapes {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin: 25px;
  h2 {
  font-size: 16px;
  }
  p {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  color: white;
  background-color: #0087D3;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-right: 5px;
  }
}

.onleft {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  align-items: center;
  img {
    width: 150px;
    height: 200px;
    margin-left: 30px;
  }
}
.onright {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  align-items: center;
  i {
    color: #0087D3;
    font-size: 60px;
    margin-right: 50px;
  }
  img {
    width: 150px;
    height: 200px;
  }
}

.onleft1 {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  align-items: center;
  img {
    width: 55px;
    height: 80px;
    margin-left: 55px;
  }
}

.footerhome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 125px;
  background-color: #0087D3;
  h2 {
    color: white;
    font-size: 28px;
    padding-bottom: 5px;
  }
  p {
    color: white;
    font-size: 14px;
    text-align: center;
  }
}

.footertitle {
  border-bottom: 1px solid white;
}

.footerp {
  margin-top: 5px;
}

