<div class="footer">
  <div class=" <%=  menu_index? ? 'footerblue' : 'footergrey' %>">
    <%= link_to root_path do %>
      <i class="fas fa-book-open"></i>
    <% end %>
  </div>
  <h3>|</h3>
  <div class=" <%=  cart_index? ? 'footerblue' : 'footergrey' %>">
    <%= link_to root_path do %>
      <i class="fas fa-shopping-cart"></i>
    <% end %>
  </div>
</div>
