<div style="text-align: center">
  <h1>QR Code Reader Demo</h1>

  <div>
    <video id="video" width="500" height="400"></video>
  </div>

  <a id="link" ></a>
  <%= javascript_pack_tag("basic-qr-code-reader") %>
</div>
