<div style="margin:0; text-align: center">

  <h1 style="color: #0087d3; font-size: 200%" >QR Code Reader</h1>

  <div style="margin: 10% 0%">
    <video id="video" style="width: 100%; height: 100%" ></video>
  </div>

  <a id="link" ></a>
  <%= javascript_pack_tag("basic-qr-code-reader") %>


</div>
