<div class="ordersh2">
  <h2>Orders in progress</h2>
</div>
<div class="card-index" style="display: flex">
  <div class="column">
    <% @orders.each do |order| %>
      <div class="card-full">
        <% if policy(order).show? %>
          <%= link_to restaurant_table_order_path(order.table.restaurant, order.table, order), class: "d-flex" do  %>
            <div class="card-order-index">
              <h1><%= order.number %></h1>
              <p><%= order.description %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
