<div class="container">
  <div class='top-page'>
  </div>
  <div class='summarycontainer'>
  <div class='lastp text-center pt-4'>
    <h3>Presto Fresco</h3>
    <h4>Congratulations!</h4>
    <h1>Your order is being processed!</h1>
    <i class="fas fa-utensils"></i>
    <p>It will be ready within :</p>

<div id="ten-countdown" style= ""></div>
<script>function countdown( elementName, minutes, seconds )
{
    var element, endTime, hours, mins, msLeft, time;

    function twoDigits( n )
    {
        return (n <= 9 ? "0" + n : n);
    }

    function updateTimer()
    {
        msLeft = endTime - (+new Date);
        if ( msLeft < 1000 ) {
            element.innerHTML = "Time is up!";
        } else {
            time = new Date( msLeft );
            hours = time.getUTCHours();
            mins = time.getUTCMinutes();
            element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
            setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
        }
    }

    element = document.getElementById( elementName );
    endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
    updateTimer();
}

countdown( "ten-countdown", 10, 0 );
</script>
  <div class='lastp text-center pt-4'>
  <p>Thank you for you order ! We hope to see you soon !</p>
  </div>
  </div>
  </div>



</div>

<div class="footer" >
  <div class=" footerblue ">
    <%= link_to new_table_order_path(@order.table) do %>
      <i class="fas fa-book-open"></i>
    <% end %>
  </div>

  <div class=" cartcount <%=  cart_index? ? 'footerblue' : 'footergrey' %>">
    <div class='cart'>
    <%= button_tag type: 'submit', class: "button postfix" do %>
      <i class="fas fa-shopping-cart"></i>
    </div>
    <% end %>
  </div>
</div>
