<h1>Design</h1>

<div class='card-container'>
  <div class='dishcard'>
    <img src="../tomatesmozza.png" style="width:100%">
      <div class="textcontainer">
        <h4><b>Tomatoes & Mozarella</b></h4>
        <p>7€50</p>
    </div>
  </div>
</div>
