<div class='bluecircle'>
  <h1>pladujoor</h1>
  <p>Discover the fastest and safest way to enjoy a good meal ! Scan a QR code and access thousands of restaurants nearby!</p>
  <div class='photoblue position-absolute'>
    <div class="position-relative">
      <img src="https://res.cloudinary.com/ds0cha29d/image/upload/v1598884826/Pladujoor/qrcodepladujoor_blxgbi.png">
    </div>
  </div>
</div>

<div class='btnorder'>
  <div class='btnscancontinue'>
  <%= link_to "Scan & order" %>
  </div>
</div>

<!-- <div class="btn btn-primary">
  <input type="file" accept="image/*" capture="camera">
</div> -->

<div class='stapes'>
  <div class='onleft1'>
    <p>1</p>
    <h2>Scan a QR Code.</h2>
    <img src="https://res.cloudinary.com/ds0cha29d/image/upload/v1598953477/Pladujoor/home1_v6dhgc.png">
  </div>
  <div  class='onright'>
    <img src="https://res.cloudinary.com/ds0cha29d/image/upload/v1598953477/Pladujoor/home2_hdipyo.png">
    <p>2</p>
    <h2>Discover the menu.</h2>
  </div>
  <div class='onleft'>
    <p>3</p>
    <h2>Order and pay.</h2>
    <img src="https://res.cloudinary.com/ds0cha29d/image/upload/v1598953477/Pladujoor/home3_lw7ino.png">
  </div>
  <div  class='onright'>
    <i class="far fa-smile-beam"></i>
    <p>4</p>
    <h2>Enjoy a good meal!</h2>
  </div>
</div>

<div class='footerhome'>
  <div class='footertitle'>
    <h2>pladujoor</h2>
  </div>
  <div class='footerp'>
    <p>Qui sommes-nous?</p>
    <p>Mentions légales</p>
    <p>Contact</p>
  </div>
</div>
