<div class="tablesh2">
  <h2>Tables in progress</h2>
</div>
<div class="card-index" style="display: flex">
  <div class="column">
    <% @tables.each do |table| %>
      <div class="card-full">
        <% if policy(table).show? %>
          <%= link_to table_path(table), class: "d-flex" do  %>
            <div class="card-table-index">
              <h1><%= table.order.number %></h1>
              <p><%= table.order.description %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>