<h1>Dishes#index</h1>
<p>Find me in app/views/dishes/index.html.erb</p>

<%  @dishes.each do | dish | %>
<p><%= link_to dish.id,  restaurant_dish_path(dish.restaurant, dish) %><%= dish.name %></p>
<% end %>
