.btn-plus {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  color: white;
  background-color: #0087D3;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.btn-plus2 {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: solid 1px #0087D3;
  color: #0087D3;;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
