.footer {

  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: $box-shadow-top;
  padding: 17px 0;
  background-color: white;
  h3 {
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
  }
  i {
    display: flex;
    align-items:center;
    font-size: 25px;
  }
  button {
    border: none;
    background-color: transparent;
    i {
      color: #ACB5BD;
    }
  }
}


// .fixfooter {
//   min-height: calc(100vh - #{$navbarheight} - #{$footerheight})
// }

.footerblue a {
  color: #0087D3;
}
.footergrey a {
  color: #ACB5BD;
}

.cartcount {
  display: flex;
  flex-direction: row;

}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: red;
  border: 1px solid red;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  position: relative;
  bottom: 10px;
  right: 10px;

}

#sum {
  font-size: 15px;
}
