.top-page {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  margin-bottom: 8px;
}

.top-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h4 {
    color: black;
    font-size: 16px;
    font-weight: thin;
  }
  a {
    display: flex;
  }
  i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.top-right {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  h1 {
    margin: 0;
  }
}
