h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}
.container {
    margin-bottom: 10px;
}

.lastcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.btnbottom .form-group {
    margin: 0;
}
