<div class="form-container">
  <div class ="form-border">
    <div class="form">
      <h2>Add a category</h2>
      <br>
        <%= simple_form_for(@travel) do |f| %>

        <%= f.input :name, label: 'Name', placeholder: 'Type your new category' %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
